body{
    background-image: linear-gradient(120deg, #900C3F , #581845 );

}


.header{
    font-size: 45px;
    color: #572340;
    background-color: #FFD7ED;
    opacity: 50%;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
   

}

.instuctions1{
    font-size: 25px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: #572340;
    
}
.instuctions2{
    font-size: 25px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: #572340;
    background-color:#CC79A8;
    opacity: 50%;
    
}

#myInput {
    width: 50%;
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
    border: none;
    outline: none;

}
.textBox{
    text-align: center;
    
}

#listBox{
    display:flex;
    overflow: auto;
    justify-content: center;
    align-content: center;
}
.submitButton {
    background-color: #CC79A8;
    padding: 20px;
    border-radius: 15%;
    font-size: 20px;
    font-weight: bold;
    color: #572340;
    outline: none;
    border: none;
    opacity: 50%;
    font-family: 'Permanent Marker', cursive;
}
.submitButton:hover{
    background:salmon;
    cursor: pointer;
}


ul {
    margin: 0;
    padding: 0;
    font-family: 'Architects Daughter', cursive;
    
}


ul li{
    background: #F8B1D9;
    font-size: 28px;
    list-style: none;
    padding: 12px 8px 12px 40px;
    margin-top: 0px;
    color: #572340;
    
    
}

ul li:nth-child(odd) {
    background: #F695CC;
}


.removeButton{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    mix-blend-mode: multiply;
    float: right;
    overflow: hidden;
    margin-left: 50px;
}


.removeButton:hover {
    background: salmon;
    cursor: pointer;
}


ul li input[type='checkbox']{
    
    margin-right: 50px;
    -webkit-appearnce:none;
    width:30px;
    height:30px;
    float: left;
    
}
ul li input[type='checkbox']:hover{
    cursor: pointer;
}
